.fullName h1 {
    font-family: "Epunda Slab", serif;
    text-align: center;
    justify-content: center;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-size: 75px;
    color:rgb(3, 158, 219);
    margin-bottom: 0px;
    }
    
.namePlaceHolder {
    text-align: center;
    justify-content: center;
    margin-top: -10px;
}
.namePlaceHolder h3 {
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: italic;
    font-size: 35px;
    color: white;
}

.personalInfo {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.contactInfo {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: none;
}

.hobbies {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.references {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.profile {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: none;
}
.profile p {
    text-justify: inter-word;
    display: flex;
}

.skills {
    font-family: Arial, sans-serif;
    display:flex;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.educationalBackground {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.educationalBackground p {
    text-justify: inter-word;
    display: flex;
}

.experience {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}




/* middleContainer */
.middleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* THIS THE LEFT COLUMN, AKA detailsBlock1 */
.detailsBlock1 {
    margin: 0px 20px 0px 5%;
    float: left;
    justify-content: center;
    width: 40%;
    padding: 10px;

    /*Gradients*/
    background: linear-gradient(to bottom right, rgba(150, 16, 16, 0.5), rgba(109, 107, 107, 0.644));
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(41, 40, 40, 0.2);
}

/* THIS THE RIGHT COLUMN, AKA detailsBlock2 */
.detailsBlock2 {
    margin: -15px 20px 0px 20px;
    width: 60%;
    float: right;
    padding: 10px;

    /*Gradients*/
    background: linear-gradient(to bottom right, rgba(167, 153, 153, 0.5), rgba(109, 10, 10, 0.644));
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(41, 40, 40, 0.2);
}

.footer {
    background: linear-gradient(to bottom right, rgba(5, 29, 94, 0.89), rgba(81, 136, 255, 0.863));    /* dark blue background */
    text-align: center;          /* center the content */
    justify-content: center;
}
.certifcations {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.certList {
    text-justify: inter-word;
    display: flex;
    justify-content: center;
}



/* THIS THE WHOLE BODY */
body {
    background-image: url(photoCenter/stolenPS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}