.fullName h1 {
    font-family: "Epunda Slab", serif;
    text-align: center;
    justify-content: center;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-size: 75px;
    color:rgb(3, 158, 219);
    margin-bottom: 0px;
    }
    
.namePlaceHolder {
    text-align: center;
    justify-content: center;
    margin-top: -10px;
}
.namePlaceHolder h3 {
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: italic;
    font-size: 35px;
    color: white;
}

/**PERSONAL INFORMATION**/
.personalInfo {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin: 20px;
}

.birthdate {
    padding-top: 10px;
}

.age {
    padding-top: 2px;
}
.gender {
    padding-top: 2px;    
}
.citizenship {
    padding-top: 2px;    
}
/**END OF PERSONAL INFORMATION**/

.contactInfo {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin: 20px;
}

.hobbies {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin: 20px;
}

/**For REFERENCES**/
.references {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin: 20px;
    font-style: bold;
}

.ref1{
    font-size: 24px;
    padding-top: 20px;
    margin-left: 10px;
}
.ref2{
    font-size: 24px;
    margin-top: -15px;
    margin-left: 10px;
}
.ref3{
    font-size: 24px;
    margin-top: -15px;
    margin-left: 10px;
}
/**end of REFERENCES**/

.profile {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin-top: none;
}
.profile p {
    text-justify: inter-word;
    display: flex;
}

.skills {
    font-family: Arial, sans-serif;
    display:flex;
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.educationalBackground {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.educationalBackground p {
    text-justify: inter-word;
    display: flex;
}

.experience {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 20px;
}




/* middleContainer */
.middleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* THIS THE LEFT COLUMN, AKA detailsBlock1 */
.detailsBlock1 {
    margin: 0px 20px 0px 2.5%;
    float: left;
    justify-content: center;
    width: 40%;
    padding: 30px;
    margin: 20px;

    /*Gradients*/
    background: linear-gradient(to bottom right, rgba(109, 10, 10, 0.700), rgba(167, 153, 153, 0.700));
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(41, 40, 40, 0.2);
    text-size-adjust: 100%;
}

/* THIS THE RIGHT COLUMN, AKA detailsBlock2 */
.detailsBlock2 {
    margin: 20px 20px 0px 20px;
    width: 60%;
    float: right;
    padding: 30px;
    margin: 20px;
    text-size-adjust: 100%;

    /*Gradients*/
    background: linear-gradient(to bottom right, rgba(167, 153, 153, 0.700), rgba(109, 10, 10, 0.700));
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(41, 40, 40, 0.2);
}

.footer {
    background: linear-gradient(to bottom right, rgba(5, 29, 94, 0.850), rgba(81, 136, 255, 0.850));    /* dark blue background */
    text-align: center;          /* center the content */
    justify-content: center;
    display: flex;
    margin: 10px -8px -10px -8px;
}
.certifcations {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin-top: -10px;
}
.certList {
    text-justify: inter-word;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 10px
}
.certList span{
    margin: 0 10px;
}



/* THIS THE WHOLE BODY */
body {
    background-image: url(photoCenter/stolenPS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}